# Docker
jesse_bot/docker/postgres-data/
jesse_bot/_pycache_
jesse_bot/.pytest_cache
jesse_bot/jesse.egg-info
jesse_bot/.idea
jesse_bot/storage/*.key
jesse_bot/storage/*.sqlite
jesse_bot/storage/*.gz
jesse_bot/.DS_Store
.DS_Store
jesse_bot/.vagrant
jesse_bot/storage/temp/*.pickle
jesse_bot/storage/trades/*.json
jesse_bot/storage/trading-view-pine-editor/*.txt
jesse_bot/storage/temp/optimize/*.pickle
jesse_bot/storage/orders/*.json
jesse_bot/storage/logs/trades/*.json
jesse_bot/storage/logs/backtest-mode
jesse_bot/storage/logs/collect.txt
jesse_bot/storage/logs/optimize.txt
jesse_bot/storage/logs/live-trade.txt
jesse_bot/storage/logs/paper-trade.txt
jesse_bot/storage/genetics/*.txt
jesse_bot/storage/csv/*.csv
jesse_bot/storage/json/*.json
jesse_bot/storage/charts/*.png
jesse_bot/storage/full-reports/*.html
*.pyc
jesse_bot/__pycache__
jesse_bot/venv
jesse_bot/storage/logs/collect.txt
jesse_bot/__pycache__
__pycache__
jesse_bot/.vscode
.vscode
jesse_bot/.ipynb_checkpoints
jesse_bot/config.py
jesse_bot/live-config.py
jesse_bot/routes.py
jesse_bot/.env
.env