# Docker
data_visualization/docker/postgres-data/
data_visualization/_pycache_
data_visualization/.pytest_cache
data_visualization/jesse.egg-info
data_visualization/.idea
data_visualization/storage/*.key
data_visualization/storage/*.sqlite
data_visualization/storage/*.gz
data_visualization/.DS_Store
.DS_Store
data_visualization/.vagrant
data_visualization/storage/temp/*.pickle
data_visualization/storage/trades/*.json
data_visualization/storage/trading-view-pine-editor/*.txt
data_visualization/storage/temp/optimize/*.pickle
data_visualization/storage/orders/*.json
data_visualization/storage/logs/trades/*.json
data_visualization/storage/logs/backtest-mode
data_visualization/storage/logs/collect.txt
data_visualization/storage/logs/optimize.txt
data_visualization/storage/logs/live-trade.txt
data_visualization/storage/logs/paper-trade.txt
data_visualization/storage/genetics/*.txt
data_visualization/storage/csv/*.csv
data_visualization/storage/json/*.json
data_visualization/storage/charts/*.png
data_visualization/storage/full-reports/*.html
*.pyc
data_visualization/__pycache__
data_visualization/venv
data_visualization/storage/logs/collect.txt
data_visualization/__pycache__
__pycache__
data_visualization/.vscode
.vscode
data_visualization/.ipynb_checkpoints
data_visualization/config.py
data_visualization/live-config.py
data_visualization/routes.py
data_visualization/.env
.env